{% extends "base.html" %}

{% block title %}



{% endblock %}

{% block content_title %}
    Вы можете добавить json cюда,а мы выгрузим всю информацию оттуда в excel
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <form action="{{ url_for('homepage') }}" method="POST">

            <div class="form-group">
                    <label class="control-label" for="file">Выберите файл формата JSON</label>
                    <input class="form-control" id="file" name="file" type="file">
            </div>

            <div class ='form-group-title'>

            </div>
        </form>
    </div>
{% endblock %}